@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.logo{
  height: 60px;
}